<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sprite_kit_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,910},{609,549}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{609,549}}</string>
				<key>sourceSize</key>
				<string>{609,549}</string>
			</dict>

			<key>sprite_kit_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,360},{609,549}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{609,549}}</string>
				<key>sourceSize</key>
				<string>{609,549}</string>
			</dict>

			<key>sprite_kit_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,3110},{609,549}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{609,549}}</string>
				<key>sourceSize</key>
				<string>{609,549}</string>
			</dict>

			<key>sprite_kit_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,2010},{609,549}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{609,549}}</string>
				<key>sourceSize</key>
				<string>{609,549}</string>
			</dict>

			<key>sprite_kit_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,1460},{609,549}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{609,549}}</string>
				<key>sourceSize</key>
				<string>{609,549}</string>
			</dict>

			<key>sprite_kit_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,2560},{609,549}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{609,549}}</string>
				<key>sourceSize</key>
				<string>{609,549}</string>
			</dict>

			<key>sprite_kit_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,2560},{609,549}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{609,549}}</string>
				<key>sourceSize</key>
				<string>{609,549}</string>
			</dict>

			<key>sprite_kit_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,2010},{609,549}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{609,549}}</string>
				<key>sourceSize</key>
				<string>{609,549}</string>
			</dict>

			<key>sprite_kit_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,910},{609,549}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{609,549}}</string>
				<key>sourceSize</key>
				<string>{609,549}</string>
			</dict>

			<key>sprite_kit_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,360},{609,549}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{609,549}}</string>
				<key>sourceSize</key>
				<string>{609,549}</string>
			</dict>

			<key>sprite_kit_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1566,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1566,179}}</string>
				<key>sourceSize</key>
				<string>{1566,179}</string>
			</dict>

			<key>sprite_kit_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,3547},{524,436}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{524,436}}</string>
				<key>sourceSize</key>
				<string>{524,436}</string>
			</dict>

			<key>sprite_kit_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1745,3547},{524,436}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{524,436}}</string>
				<key>sourceSize</key>
				<string>{524,436}</string>
			</dict>

			<key>sprite_kit_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1830,1635},{416,544}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{416,544}}</string>
				<key>sourceSize</key>
				<string>{416,544}</string>
			</dict>

			<key>sprite_kit_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1830,1090},{416,544}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{416,544}}</string>
				<key>sourceSize</key>
				<string>{416,544}</string>
			</dict>

			<key>sprite_kit_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,180},{1566,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1566,179}}</string>
				<key>sourceSize</key>
				<string>{1566,179}</string>
			</dict>

			<key>sprite_kit_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,1460},{609,549}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{609,549}}</string>
				<key>sourceSize</key>
				<string>{609,549}</string>
			</dict>

			<key>sprite_kit_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,910},{609,549}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{609,549}}</string>
				<key>sourceSize</key>
				<string>{609,549}</string>
			</dict>

			<key>sprite_kit_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,360},{609,549}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{609,549}}</string>
				<key>sourceSize</key>
				<string>{609,549}</string>
			</dict>

			<key>sprite_kit_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3110},{609,549}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{609,549}}</string>
				<key>sourceSize</key>
				<string>{609,549}</string>
			</dict>

			<key>sprite_kit_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2560},{609,549}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{609,549}}</string>
				<key>sourceSize</key>
				<string>{609,549}</string>
			</dict>

			<key>sprite_kit_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2010},{609,549}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{609,549}}</string>
				<key>sourceSize</key>
				<string>{609,549}</string>
			</dict>

			<key>sprite_kit_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1460},{609,549}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{609,549}}</string>
				<key>sourceSize</key>
				<string>{609,549}</string>
			</dict>

			<key>sprite_kit_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1745,3110},{524,436}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{524,436}}</string>
				<key>sourceSize</key>
				<string>{524,436}</string>
			</dict>

			<key>sprite_kit_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,3110},{524,436}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{524,436}}</string>
				<key>sourceSize</key>
				<string>{524,436}</string>
			</dict>

			<key>sprite_kit_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1830,0},{416,544}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{416,544}}</string>
				<key>sourceSize</key>
				<string>{416,544}</string>
			</dict>

			<key>sprite_kit_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1830,545},{416,544}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{416,544}}</string>
				<key>sourceSize</key>
				<string>{416,544}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>btn.png</string>
			</dict>
		</dict>
</plist>