<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>—Pngtree—set of buttons and popup_5255492_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1503,915},{357,416}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,416}}</string>
				<key>sourceSize</key>
				<string>{357,416}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3191},{919,355}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{919,355}}</string>
				<key>sourceSize</key>
				<string>{919,355}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1460,2648},{746,394}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{746,394}}</string>
				<key>sourceSize</key>
				<string>{746,394}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,3547},{823,346}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{823,346}}</string>
				<key>sourceSize</key>
				<string>{823,346}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1687,3610},{357,416}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,416}}</string>
				<key>sourceSize</key>
				<string>{357,416}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3547},{862,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{862,345}}</string>
				<key>sourceSize</key>
				<string>{862,345}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1503,348},{566,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{566,566}}</string>
				<key>sourceSize</key>
				<string>{566,566}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1410},{1459,1780}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1459,1780}}</string>
				<key>sourceSize</key>
				<string>{1459,1780}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1687,3043},{566,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{566,566}}</string>
				<key>sourceSize</key>
				<string>{566,566}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,348},{1502,1061}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1502,1061}}</string>
				<key>sourceSize</key>
				<string>{1502,1061}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1460,1410},{991,1237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{991,1237}}</string>
				<key>sourceSize</key>
				<string>{991,1237}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,116},{1769,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1769,115}}</string>
				<key>sourceSize</key>
				<string>{1769,115}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2070,0},{347,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{347,348}}</string>
				<key>sourceSize</key>
				<string>{347,348}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1268,3191},{347,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{347,348}}</string>
				<key>sourceSize</key>
				<string>{347,348}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2418,349},{347,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{347,348}}</string>
				<key>sourceSize</key>
				<string>{347,348}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2070,349},{347,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{347,348}}</string>
				<key>sourceSize</key>
				<string>{347,348}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,3191},{347,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{347,348}}</string>
				<key>sourceSize</key>
				<string>{347,348}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,232},{1769,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1769,115}}</string>
				<key>sourceSize</key>
				<string>{1769,115}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1769,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1769,115}}</string>
				<key>sourceSize</key>
				<string>{1769,115}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1861,915},{347,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{347,348}}</string>
				<key>sourceSize</key>
				<string>{347,348}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{2045,3610},{347,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{347,348}}</string>
				<key>sourceSize</key>
				<string>{347,348}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{2254,2997},{347,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{347,348}}</string>
				<key>sourceSize</key>
				<string>{347,348}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{2418,0},{347,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{347,348}}</string>
				<key>sourceSize</key>
				<string>{347,348}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{2207,2648},{347,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{347,348}}</string>
				<key>sourceSize</key>
				<string>{347,348}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{2209,698},{347,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{347,348}}</string>
				<key>sourceSize</key>
				<string>{347,348}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{2209,1047},{347,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{347,348}}</string>
				<key>sourceSize</key>
				<string>{347,348}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{2393,3346},{347,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{347,348}}</string>
				<key>sourceSize</key>
				<string>{347,348}</string>
			</dict>

			<key>—Pngtree—set of buttons and popup_5255492_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{2393,3695},{347,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{347,348}}</string>
				<key>sourceSize</key>
				<string>{347,348}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>btn.png</string>
			</dict>
		</dict>
</plist>